
* {
    margin: 0px;
    padding: 1px;
    box-sizing: border-box;
  }


.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

header{
  background-color: #add8e6;
  height: 80px;
}

header div{
  flex-grow: 1;
}

.intestazione{
  background-color: #daa520;
  height: 45px;
  width: 1200px;
  margin: auto;
  margin-top: 15px;
}

.bordo{
  border: 2px dashed black;
}

.bordobianco{
  border: 2px dashed rgb(255, 255, 255);
  flex-grow: 1;
}

p{
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
}

.link{
  flex-grow: 3;
}

.logo {
  text-align: left;
}

.login{
  text-align: right;
}


/* colori */

.blu{
  height: 500px;
  background-color: #00008b;
}

.rosa1{
  height: 400px;
  width: 900px;
  background-color: #ee82ee;
}

.bianco{
  height: 600px;
}

.bicolor1{
  height: 500px;
  width: 1200px;
}

.bicolor2{
  height: 570px;
  width: 1200px;
}

.azzurro{
  background-color: #1e90ff;
  flex-grow: 2;
  align-self: stretch;
}

.rosa2{
  background-color: #ffc0cb;
  flex-grow: 1;
  align-self: stretch;
}

.grigio{
  height: 600px;
  background-color: #d3d3d3;
}

.ordineinvertito{
  order: 1;
}

.verde{
  height: 900px;
  width: 1200px;
  background-color: #228b22;
}

.grigio2{
  height: 1000px;
  background-color: #d3d3d3;
}

.container2{
  display: flex;
}

.container3{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.grigio3{
  height: 630px;
  background-color: #23272a;
}

.azzurro2{
  background-color: #20b2aa;
  flex-grow: 2;
  align-self: stretch;
}

.rosa3{
  background-color: #f08080;
  flex-grow: 1;
  align-self: stretch;
}

hr{
  color: white;
}

.grigio4{
  height: 110px;
  background-color: #23272a;
}

.acqua{
  height: 80px;
  width: 1200px;
  background-color: #7fffd4;
}

.container4{
  display: flex;
  align-items: end;
  justify-content:center; 
}

.container5{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.rosa4 {
  background-color: #ffb6c1;
  font-size: 25px;
}